<a href="https://colab.research.google.com/github/Harshitprajapati10/uidai-aadhaar-trends-analysis/blob/main/enrollment_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("api_data_aadhar_enrolment_0_500000.csv")
df.describe()

             pincode        age_0_5       age_5_17  age_18_greater
count  500000.000000  500000.000000  500000.000000   500000.000000
mean   519204.051054       4.040812       2.315682        0.245558
std    206793.322085      24.417921      20.191196        4.438557
min    100000.000000       0.000000       0.000000        0.000000
25%    362229.000000       1.000000       0.000000        0.000000
50%    517131.000000       2.000000       0.000000        0.000000
75%    712139.000000       3.000000       1.000000        0.000000
max    855456.000000    2688.000000    1812.000000      855.000000

In [5]:
df.shape

(500000, 7)

In [6]:
df.head()

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21